<%= form_with(model: @resource) do |form| %>
  <% if @resource.errors.any? %>
    <div>
      <h4>
        <%= pluralize(@resource.errors.count, "error") %> prohibited this record from being saved:
      </h4>

      <ul>
        <% @resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% policy(@resource).permitted_attributes.each do |attribute| %>
    <%= render "scaffold/fields/#{@resource.type_for_attribute(attribute).type}", form: form, attribute: attribute %>
  <% end %>

  <%= form.submit %>
<% end %>
