<%= form_with(model: @resource) do |form| %>
  <% if @resource.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">
        <%= pluralize(@resource.errors.count, "error") %> prohibited this record from being saved:
      </h4>

      <ul class="mb-0">
        <% @resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% policy(@resource).permitted_attributes.each do |attribute| %>
    <%= render "scaffold/fields/#{@resource.type_for_attribute(attribute).type}", form: form, attribute: attribute %>
  <% end %>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
