<header>
  <h1>
    <% case action_name %>
    <% when "index" %>
      <%= @resources.model_name.human.titleize.pluralize %>
    <% when "show" %>
      <%= @resource.model_name.human.titleize %>
    <% when "new", "create" %>
      New <%= @resource.model_name.human.titleize %>
    <% when "edit", "update" %>
      Editing <%= @resource.model_name.human.titleize %>
    <% end %>
  </h1>

  <div>
    <% case action_name %>
    <% when "index" %>
      <%= link_to "New", { action: "new" } %>
    <% when "show" %>
      <%= link_to "Edit", { action: "edit" } %>
      <%= link_to "Back", { action: "index" } %>
    <% when "new", "create" %>
      <%= link_to "Back", { action: "index" } %>
    <% when "edit", "update" %>
      <%= link_to "Show", { action: "show" } %>
      <%= link_to "Back", { action: "index" } %>
    <% end %>
  </div>
</header>
