<% if @resources.any? %>
  <div class="table-responsive">
    <table class="table align-middle">
      <thead class="table-dark">
        <tr>
          <% policy(@resources).permitted_attributes.each do |attribute| %>
            <th class="col"><%= @resources.human_attribute_name(attribute) %></th>
          <% end %>

          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @resources.each do |resource| %>
          <tr>
            <% policy(resource).permitted_attributes.each do |attribute| %>
              <td><%= resource[attribute] %></td>
            <% end %>

            <td class="text-end">
              <div class="btn-group" role="group" aria-label="Actions">
                <%= link_to "Show", resource, class: "btn btn-secondary" %>
                <%= link_to "Edit", [:edit, resource], class: "btn btn-secondary" %>
                <%= link_to "Destroy", resource, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="border border-1 py-5 text-muted text-center">
    No records found.
  </div>
<% end %>
