<% if @resources.any? %>
  <table>
    <thead>
      <tr>
        <% policy(@resources).permitted_attributes.each do |attribute| %>
          <th><%= @resources.human_attribute_name(attribute) %></th>
        <% end %>

        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @resources.each do |resource| %>
        <tr>
          <% policy(resource).permitted_attributes.each do |attribute| %>
            <td><%= resource[attribute] %></td>
          <% end %>

          <td>
            <div>
              <%= link_to "Show", resource %>
              <%= link_to "Edit", [:edit, resource] %>
              <%= link_to "Destroy", resource, method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div>
    No records found.
  </div>
<% end %>
