<% content_for :title, "#{I18n.t "page.headings.sessions.login"} - #{I18n.t :app_name}" %>
<% content_for :description, I18n.t("views.descriptions.login", app_name: I18n.t(:app_name)) %>

<main class="flex justify-center items-center p-8 min-h-screen">
  <div class="space-y-8 w-full sm:space-y-0 sm:w-auto sm:bg-white sm:shadow">
    <% if flash.alert %>
      <div class="p-4 text-red-900 bg-red-100">
        <%= flash.alert %>
      </div>
    <% end %>

    <% if flash.notice %>
      <div class="p-4 text-green-900 bg-green-100">
        <%= flash.notice %>
      </div>
    <% end %>

    <div class="space-y-8 sm:p-16">
      <h1 class="text-3xl text-center"><%= I18n.t("views.titles.sessions.login") %></h1>

      <%= form_with(url: login_path) do |form| %>
        <div class="space-y-4">
          <div class="space-y-2">
            <%= form.label :email, class: "block font-medium" %>
            <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "user@example.com", class: "block w-full focus:border-slate-900 focus:ring-slate-900" %>
          </div>

          <div class="space-y-2">
            <%= form.label :password, class: "block font-medium" %>
            <%= form.password_field :password, autocomplete: "current-password", placeholder: "********", class: "block w-full focus:border-slate-900 focus:ring-slate-900" %>
          </div>

          <%= form.button I18n.t("views.actions.sessions.log_in"), class: "block p-3 w-full text-sm font-medium tracking-wider text-slate-100 uppercase bg-slate-900 hover:bg-slate-800 focus:bg-slate-700 focus:outline-none" %>
        </div>
      <% end %>
    </div>
  </div>
</main>
