<% content_for :title, "#{I18n.t "page.headings.sessions.login"} - #{I18n.t :app_name}" %>
<% content_for :description, "Log into #{I18n.t :app_name} to access your account." %>

<main class="flex justify-center items-center p-8 min-h-screen">
  <div class="space-y-8 w-full sm:space-y-0 sm:w-auto sm:bg-white sm:rounded sm:shadow">
    <% if flash.alert %>
      <div class="p-4 text-red-900 bg-red-300 sm:rounded-t">
        <%= flash.alert %>
      </div>
    <% end %>

    <% if flash.notice %>
      <div class="p-4 text-green-900 bg-green-300 sm:rounded-t">
        <%= flash.notice %>
      </div>
    <% end %>

    <div class="space-y-8 sm:p-16">
      <h1 class="text-3xl text-center"><%= I18n.t("page.headings.sessions.login") %></h1>

      <%= form_with(url: login_path) do |form| %>
        <div class="space-y-4">
          <div class="space-y-2">
            <%= form.label :email, class: "block font-medium appearance-none" %>
            <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "user@example.com", class: "block px-3 py-2 w-full text-gray-700 bg-white rounded border border-black border-opacity-25 appearance-none hover:border-opacity-90 focus:border-gray-700 focus:ring-1 focus:ring-gray-700 focus:outline-none" %>
          </div>

          <div class="space-y-2">
            <%= form.label :password, class: "block font-medium appearance-none" %>
            <%= form.password_field :password, autocomplete: "current-password", placeholder: "********", class: "block px-3 py-2 w-full text-gray-700 bg-white rounded border border-black border-opacity-25 appearance-none hover:border-opacity-90 focus:border-gray-700 focus:ring-1 focus:ring-gray-700 focus:outline-none" %>
          </div>

          <%= form.submit I18n.t("page.actions.sessions.log_in"), class: "block p-3 w-full text-sm font-medium tracking-widest text-orange-100 uppercase bg-gray-700 rounded shadow appearance-none cursor-pointer hover:bg-gray-600 focus:bg-gray-500 focus:outline-none" %>
        </div>
      <% end %>
    </div>
  </div>
</main>
