<div class="overflow-x-auto rounded">
  <table class="w-full text-sm text-left text-gray-700 whitespace-nowrap bg-orange-50 divide-y divide-black divide-opacity-10">
    <thead>
      <tr>
        <th scope="col" class="p-4 font-medium"><%= WordCountFile.human_attribute_name(:work_file) %></th>
        <th scope="col" class="p-4 font-medium"><%= WordCountFile.human_attribute_name(:actual_word_count) %></th>
        <th scope="col" class="p-4 font-medium"><%= WordCountFile.human_attribute_name(:work_type) %></th>
        <th scope="col" class="p-4 font-medium"><%= WordCountFile.human_attribute_name(:total) %></th>
        <th scope="col" class="p-4 font-medium"><%= WordCountFile.human_attribute_name(:notes) %></th>
        <th scope="col" class="p-4 font-medium"></th>
      </tr>
    </thead>

    <tbody class="divide-y divide-black divide-opacity-10">
      <% word_count_files.each do |word_count_file| %>
        <tr>
          <td class="p-4"><%= word_count_file.work_file.name %></td>
          <td class="p-4"><%= word_count_file.actual_word_count %></td>
          <td class="p-4"><%= word_count_file.work_type.name %></td>
          <td class="p-4"><%= number_with_precision(word_count_file.total, precision: 2) %></td>
          <td class="p-4"><%= truncate(word_count_file.notes) %></td>

          <td class="p-2 text-right">
            <%= link_to I18n.t("page.actions.show"), word_count_word_count_file_path(word_count_file.word_count, word_count_file), class: "inline-block p-1 text-xs font-medium tracking-widest uppercase bg-transparent rounded appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
            <%= link_to I18n.t("page.actions.edit"), edit_word_count_word_count_file_path(word_count_file.word_count, word_count_file), class: "inline-block p-1 text-xs font-medium tracking-widest uppercase bg-transparent rounded appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
            <%= button_to I18n.t("page.actions.destroy"), word_count_word_count_file_path(word_count_file.word_count, word_count_file), method: :delete, form: {data: {turbo_confirm: I18n.t("page.messages.turbo_confirm")}}, form_class: "inline-block", class: "inline-block p-1 text-xs font-medium tracking-widest uppercase bg-transparent rounded appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
