<% content_for :title, I18n.t("views.titles.show", model: User.model_name.human) %>

<main class="space-y-8">
  <header>
    <h1 class="text-2xl font-bold">
      <%= yield :title %>
    </h1>
  </header>

  <dl class="text-gray-700 bg-orange-50 divide-y divide-black divide-opacity-10">
    <div class="p-4 sm:grid sm:grid-cols-4 sm:gap-4">
      <dt class="text-sm font-medium"><%= User.human_attribute_name(:email) %></dt>
      <dd class="mt-1 text-sm text-gray-700 text-opacity-90 sm:col-span-2 sm:mt-0"><%= @user.email %></dd>
    </div>
  </dl>

  <div class="overflow-x-auto flex gap-2">
    <%= link_to I18n.t("views.actions.edit"), edit_user_path(@user), class: "block py-2 px-4 text-sm font-medium tracking-widest text-orange-100 uppercase bg-gray-700 hover:bg-gray-600 focus:bg-gray-500 focus:outline-none" %>
    <%= button_to I18n.t("views.actions.destroy"), user_path(@user), method: :delete, form: {data: {turbo_confirm: I18n.t("views.messages.turbo_confirm")}}, class: "block py-2 px-4 text-sm font-medium tracking-widest text-orange-100 uppercase bg-gray-700 hover:bg-gray-600 focus:bg-gray-500 focus:outline-none" %>
    <%= link_to I18n.t("views.actions.back"), users_path, class: "block py-2 px-4 text-sm font-medium tracking-widest text-orange-100 uppercase bg-gray-700 hover:bg-gray-600 focus:bg-gray-500 focus:outline-none" %>
  </div>
</main>

<%= render "roles", user: @user %>
