<%= form_with(model: work_file) do |form| %>
  <div class="space-y-4">
    <% if work_file.errors.any? %>
      <div class="p-4 bg-red-700 rounded">
        <h4 class="mb-2 font-medium text-red-300"><%= pluralize work_file.errors.count, "error" %> prohibited this record from being saved:</h4>

        <ul class="pl-4 list-disc list-inside text-sm font-medium text-red-100">
          <% work_file.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="space-y-2">
      <%= form.label :name, class: "block font-medium appearance-none" %>
      <%= form.text_field :name, class: "block px-3 py-2 w-full text-gray-700 bg-white rounded border border-black border-opacity-25 appearance-none hover:border-opacity-90 focus:border-gray-700 focus:ring-1 focus:ring-gray-700 focus:outline-none" %>
    </div>

    <%= form.submit class: "block py-2 px-4 text-sm font-medium tracking-widest text-orange-100 uppercase bg-gray-700 rounded shadow appearance-none cursor-pointer hover:bg-gray-600 focus:bg-gray-500 focus:outline-none" %>
  </div>
<% end %>
