<% content_for :title, "Work Files" %>

<h1 class="text-2xl font-bold">Work Files</h1>

<% content_for(:actions) do %>
  <%= link_to I18n.t("actions.new"), new_work_file_path, class: "block py-2 px-8 w-full text-sm font-medium text-left text-gray-700 bg-transparent appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
<% end %>

<% if @work_files.load.any? %>
  <div class="overflow-x-auto rounded shadow">
    <table class="w-full text-sm text-left text-gray-700 whitespace-nowrap bg-orange-50 divide-y divide-black divide-opacity-10">
      <thead>
        <tr>
          <th scope="col" class="p-4 font-medium"><%= WorkFile.human_attribute_name(:name) %></th>
          <th scope="col" class="p-4 font-medium"></th>
        </tr>
      </thead>

      <tbody class="divide-y divide-black divide-opacity-10">
        <% @work_files.each do |work_file| %>
          <tr>
            <td class="p-4"><%= work_file.name %></td>

            <td class="p-2 text-right">
              <%= link_to I18n.t("actions.show"), work_file, class: "inline-block p-1 text-xs font-medium tracking-widest uppercase bg-transparent rounded appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
              <%= link_to I18n.t("actions.edit"), edit_work_file_path(work_file), class: "inline-block p-1 text-xs font-medium tracking-widest uppercase bg-transparent rounded appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
              <%= button_to I18n.t("actions.destroy"), work_file, method: :delete, form_class: "inline-block", class: "inline-block p-1 text-xs font-medium tracking-widest uppercase bg-transparent rounded appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="py-32 px-4 text-lg font-medium text-center text-orange-100 bg-gray-700">
    No records found.
  </div>
<% end %>
