<h1 class="p-8 text-3xl font-extrabold tracking-widest text-center text-gray-600 bg-orange-300 uppercase">
  <%= link_to I18n.t(:app_name), root_path %>
</h1>

<% unless page.actions.empty? %>
  <div class="py-4 text-sm font-medium">
    <%= link_to("Show", page.actions.show, class: "block py-2 px-8 hover:bg-gray-600") unless page.actions.show.blank? %>
    <%= link_to("New", page.actions.new, class: "block py-2 px-8 hover:bg-gray-600") unless page.actions.new.blank? %>
    <%= link_to("Edit", page.actions.edit, class: "block py-2 px-8 hover:bg-gray-600") unless page.actions.edit.blank? %>
    <%= link_to("Destroy", page.actions.destroy, method: :delete, data: {confirm: "Are you sure?"}, class: "block py-2 px-8 hover:bg-gray-600") unless page.actions.destroy.blank? %>
    <%= link_to("Back", page.actions.index, class: "block py-2 px-8 hover:bg-gray-600") unless page.actions.index.blank? %>
  </div>

  <hr class="mx-8 border-gray-500">
<% end %>

<nav class="py-4 text-sm font-medium">
  <%= link_to "Word Counts", word_counts_path, class: "block py-4 px-8 hover:bg-gray-600" %>
  <%= link_to "Work Files", work_files_path, class: "block py-4 px-8 hover:bg-gray-600" %>
  <%= link_to "Work Types", work_types_path, class: "block py-4 px-8 hover:bg-gray-600" %>
</nav>

<hr class="mx-8 border-gray-500">

<div class="py-8 px-8 text-sm font-medium">
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "hover:text-orange-300" %>
</div>
