<%= form_with(model: word_count) do |form| %>
  <div class="space-y-4">
    <% if word_count.errors.any? %>
      <div class="p-4 bg-red-700">
        <h4 class="mb-2 font-medium text-red-300"><%= I18n.t("views.form.errors.heading") %></h4>

        <ul class="pl-4 list-disc list-inside text-sm font-medium text-red-100">
          <% word_count.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="space-y-2">
      <%= form.label :date, class: "block font-medium" %>
      <%= form.date_field :date, class: "block w-full focus:border-gray-700 focus:ring-gray-700" %>
    </div>

    <div class="space-y-2">
      <%= form.label :notes, class: "block font-medium" %>
      <%= form.text_area :notes, class: "block w-full focus:border-gray-700 focus:ring-gray-700" %>
    </div>

    <%= form.button class: "block py-2 px-4 text-sm font-medium tracking-wider text-orange-100 uppercase bg-gray-700 hover:bg-gray-600 focus:bg-gray-500 focus:outline-none" %>
  </div>
<% end %>
