<%= form_with(model: word_count) do |form| %>
  <div class="space-y-4">
    <% if word_count.errors.any? %>
      <div class="p-4 bg-red-100">
        <h4 class="mb-2 font-medium text-red-900"><%= I18n.t("views.form.errors.heading") %></h4>

        <ul class="pl-4 list-disc list-inside text-sm font-medium text-red-900">
          <% word_count.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="space-y-2">
      <%= form.label :date, class: "block font-medium" %>
      <%= form.date_field :date, class: "block w-full focus:border-slate-900 focus:ring-slate-900" %>
    </div>

    <div class="space-y-2">
      <%= form.label :notes, class: "block font-medium" %>
      <%= form.text_area :notes, class: "block w-full focus:border-slate-900 focus:ring-slate-900" %>
    </div>

    <%= form.button class: "py-2 px-4 text-sm font-medium tracking-wider text-slate-100 uppercase bg-slate-900 hover:bg-slate-800 focus:bg-slate-700 focus:outline-none" %>
  </div>
<% end %>
