<% content_for :title, I18n.t("views.titles.show", model: WordCount.model_name.human) %>

<main class="space-y-8">
  <header>
    <h1 class="text-2xl font-bold">
      <%= yield :title %>
    </h1>
  </header>

  <dl class="text-gray-700 bg-orange-50 divide-y divide-black divide-opacity-10">
    <div class="p-4 sm:grid sm:grid-cols-4 sm:gap-4">
      <dt class="text-sm font-medium"><%= WordCount.human_attribute_name(:day) %></dt>
      <dd class="mt-1 text-sm text-gray-700 text-opacity-90 sm:col-span-2 sm:mt-0"><%= I18n.localize(@word_count.date, format: "%A") %></dd>
    </div>

    <div class="p-4 sm:grid sm:grid-cols-4 sm:gap-4">
      <dt class="text-sm font-medium"><%= WordCount.human_attribute_name(:date) %></dt>
      <dd class="mt-1 text-sm text-gray-700 text-opacity-90 sm:col-span-2 sm:mt-0"><%= @word_count.date %></dd>
    </div>

    <div class="p-4 sm:grid sm:grid-cols-4 sm:gap-4">
      <dt class="text-sm font-medium"><%= WordCount.human_attribute_name(:total) %></dt>
      <dd class="mt-1 text-sm text-gray-700 text-opacity-90 sm:col-span-2 sm:mt-0"><%= number_with_precision(@word_count.word_count_files.sum(:total), precision: 2) %></dd>
    </div>

    <div class="p-4 sm:grid sm:grid-cols-4 sm:gap-4">
      <dt class="text-sm font-medium"><%= WordCount.human_attribute_name(:notes) %></dt>
      <dd class="mt-1 text-sm text-gray-700 text-opacity-90 sm:col-span-2 sm:mt-0"><%= @word_count.notes %></dd>
    </div>
  </dl>

  <div class="overflow-x-auto flex gap-2">
    <%= link_to I18n.t("views.actions.edit"), edit_word_count_path(@word_count), class: "py-2 px-4 text-sm font-medium tracking-wider text-orange-100 uppercase bg-gray-700 hover:bg-gray-600 focus:bg-gray-500 focus:outline-none" %>
    <%= button_to I18n.t("views.actions.destroy"), word_count_path(@word_count), method: :delete, form: {data: {turbo_confirm: I18n.t("views.messages.turbo_confirm")}}, class: "py-2 px-4 text-sm font-medium tracking-wider text-orange-100 uppercase bg-gray-700 hover:bg-gray-600 focus:bg-gray-500 focus:outline-none" %>
  </div>
</main>

<section class="space-y-8">
  <header>
    <h2 class="text-xl font-bold">
      <%= I18n.t("views.titles.index", model: WordCountFile.model_name.human(count: 20)) %>
    </h2>
  </header>

  <% if @word_count.word_count_files.load.any? %>
    <%= render "word_count_files/table", word_count_files: @word_count.word_count_files %>
  <% end %>

  <div class="overflow-x-auto flex gap-2">
    <%= link_to I18n.t("views.actions.new"), new_word_count_word_count_file_path(@word_count), class: "py-2 px-4 text-sm font-medium tracking-wider text-orange-100 uppercase bg-gray-700 hover:bg-gray-600 focus:bg-gray-500 focus:outline-none" %>
  </div>
</section>
