<%= form_with(model: work_type) do |form| %>
  <div class="space-y-4">
    <% if work_type.errors.any? %>
      <div class="p-4 bg-red-900">
        <h4 class="mb-2 font-medium text-red-100"><%= I18n.t("views.form.errors.heading") %></h4>

        <ul class="pl-4 list-disc list-inside text-sm font-medium text-red-50">
          <% work_type.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="space-y-2">
      <%= form.label :name, class: "block font-medium" %>
      <%= form.text_field :name, class: "block w-full focus:border-indigo-900 focus:ring-indigo-900" %>
    </div>

    <div class="space-y-2">
      <%= form.label :multiplicand, class: "block font-medium" %>
      <%= form.number_field :multiplicand, step: "any", min: 0.0, class: "block w-full focus:border-indigo-900 focus:ring-indigo-900" %>
    </div>

    <%= form.button class: "py-2 px-4 text-sm font-medium tracking-wider text-indigo-100 uppercase bg-indigo-900 hover:bg-indigo-800 focus:bg-indigo-700 focus:outline-none" %>
  </div>
<% end %>
