<% content_for :title, I18n.t("views.titles.show", model: WorkType.model_name.human) %>

<main class="space-y-8">
  <header>
    <h1 class="text-2xl font-bold">
      <%= yield :title %>
    </h1>
  </header>

  <dl class="text-indigo-900 bg-indigo-100 divide-y divide-black divide-opacity-10">
    <div class="p-4 sm:grid sm:grid-cols-4 sm:gap-4">
      <dt class="text-sm font-medium"><%= WorkType.human_attribute_name(:name) %></dt>
      <dd class="mt-1 text-sm text-indigo-900 text-opacity-90 sm:col-span-2 sm:mt-0"><%= @work_type.name %></dd>
    </div>

    <div class="p-4 sm:grid sm:grid-cols-4 sm:gap-4">
      <dt class="text-sm font-medium"><%= WorkType.human_attribute_name(:multiplicand) %></dt>
      <dd class="mt-1 text-sm text-indigo-900 text-opacity-90 sm:col-span-2 sm:mt-0"><%= @work_type.multiplicand %></dd>
    </div>
  </dl>

  <div class="overflow-x-auto flex gap-2">
    <%= link_to I18n.t("views.actions.edit"), edit_work_type_path(@work_type), class: "py-2 px-4 text-sm font-medium tracking-wider text-indigo-100 uppercase bg-indigo-900 hover:bg-indigo-800 focus:bg-indigo-700 focus:outline-none" %>
    <%= button_to I18n.t("views.actions.destroy"), work_type_path(@work_type), method: :delete, form: {data: {turbo_confirm: I18n.t("views.messages.turbo_confirm")}}, class: "py-2 px-4 text-sm font-medium tracking-wider text-indigo-100 uppercase bg-indigo-900 hover:bg-indigo-800 focus:bg-indigo-700 focus:outline-none" %>
  </div>
</main>
