<% content_for :title, "Work Type" %>

<h1 class="text-2xl font-bold">Work Type</h1>

<% content_for :actions do %>
  <%= link_to "Edit", edit_work_type_path(@work_type), class: "block py-2 px-8 w-full text-sm font-medium text-left text-gray-700 bg-transparent appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
  <%= button_to "Destroy", @work_type, method: :delete, class: "block py-2 px-8 w-full text-sm font-medium text-left text-gray-700 bg-transparent appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
  <%= link_to "Back", work_types_path, class: "block py-2 px-8 w-full text-sm font-medium text-left text-gray-700 bg-transparent appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
<% end %>

<dl class="text-gray-700 bg-orange-50 rounded divide-y divide-black divide-opacity-10 shadow">
  <div class="p-4 sm:grid sm:grid-cols-4 sm:gap-4">
    <dt class="text-sm font-medium">Name</dt>
    <dd class="mt-1 text-sm text-gray-700 text-opacity-90 sm:col-span-2 sm:mt-0"><%= @work_type.name %></dd>
  </div>

  <div class="p-4 sm:grid sm:grid-cols-4 sm:gap-4">
    <dt class="text-sm font-medium">Multiplicand</dt>
    <dd class="mt-1 text-sm text-gray-700 text-opacity-90 sm:col-span-2 sm:mt-0"><%= @work_type.multiplicand %></dd>
  </div>
</dl>
