<% page_title "Login" %>
<% page_description "Log into #{t :app_name} to access your account." %>

<main>
  <% if flash.alert %>
    <div>
      <%= flash.alert %>
    </div>
  <% end %>

  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "*" * 8 %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <%= f.submit "Log in" %>
  <% end %>
</main>
