<% content_for :title, I18n.t("views.titles.index", model: Role.model_name.human(count: 20)) %>

<main class="space-y-8">
  <header>
    <h1 class="text-2xl font-bold">
      <%= yield :title %>
    </h1>
  </header>

  <% if @roles.load.any? %>
    <div class="overflow-x-auto">
      <table class="w-full text-sm text-left text-slate-900 whitespace-nowrap bg-slate-100 divide-y divide-slate-200">
        <thead>
          <tr>
            <th scope="col" class="p-4 font-medium"><%= Role.human_attribute_name(:name) %></th>
            <th scope="col" class="p-4 font-medium"></th>
          </tr>
        </thead>

        <tbody class="divide-y divide-slate-200">
          <% @roles.each do |role| %>
            <tr>
              <td class="p-4"><%= role.name %></td>

              <td class="p-2 text-right">
                <%= link_to I18n.t("views.actions.show"), role_path(role), class: "inline-block p-1 text-xs font-medium tracking-wider uppercase hover:bg-slate-200" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="py-32 px-4 text-lg font-medium text-center text-slate-100 bg-slate-900">
      <%= I18n.t("views.messages.no_records") %>
    </div>
  <% end %>
</main>
