<% content_for :title, I18n.t("page.headings.show", model: Role.model_name.human) %>

<h1 class="text-2xl font-bold">
  <%= I18n.t("page.headings.show", model: Role.model_name.human) %>
</h1>

<% content_for(:actions) do %>
  <% unless @role.system_role? %>
    <%= link_to I18n.t("page.actions.edit"), edit_role_path(@role), class: "block py-2 px-8 w-full text-sm font-medium text-left text-gray-700 bg-transparent appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
    <%= button_to I18n.t("page.actions.destroy"), @role, method: :delete, class: "block py-2 px-8 w-full text-sm font-medium text-left text-gray-700 bg-transparent appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
  <% end %>

  <%= link_to I18n.t("page.actions.back"), roles_path, class: "block py-2 px-8 w-full text-sm font-medium text-left text-gray-700 bg-transparent appearance-none cursor-pointer hover:bg-black hover:bg-opacity-10" %>
<% end %>

<dl class="text-gray-700 bg-orange-50 rounded divide-y divide-black divide-opacity-10 shadow">
  <div class="p-4 sm:grid sm:grid-cols-4 sm:gap-4">
    <dt class="text-sm font-medium"><%= Role.human_attribute_name(:name) %></dt>
    <dd class="mt-1 text-sm text-gray-700 text-opacity-90 sm:col-span-2 sm:mt-0"><%= @role.name %></dd>
  </div>
</dl>
