<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= yield :page_description %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= yield content_for?(:page_title) ? :page_title : :page_heading %></title>

    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="text-gray-600 bg-orange-100">
    <% if user_signed_in? %>
      <%= render "application/layout" %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
