<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= yield :description %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= yield :title %></title>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-slate-900 bg-slate-50">
    <%= render "application/layout" %>
  </body>
</html>
