<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= yield :page_description %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= yield :page_title %></title>

    <%= stylesheet_link_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= yield :body %>
  </body>
</html>
