<% content_for :body do %>
  <div>
    <%= render "scaffold/navigation" %>
  </div>

  <main>
    <%= render "shared/flash" %>

    <div>
      <%= render "scaffold/header" %>
      <%= yield %>
    </div>
  </main>
<% end %>

<%= render template: "layouts/base" %>
